@import url('https://fonts.googleapis.com/css2?family=Sunshiney&display=swap');



* {
	font-family: 'Sunshiney', cursive;
}

h1 {
	color: blueviolet;
}

.contenedor {
	display: grid;
	grid-template-rows: repeat(auto-fill, minmax(15rem, 1fr));
	grid-gap: 2rem;
	color: aquamarine;
	border: 4cm;
  }

.estudios{
	color: aqua;
}